.bg-preview-main {
  width: 100vw; /* Full width */
  height: 550px; /* Fixed height */
  background: url("./ui/previews/fiverr-res.cloudinary.com-....-xl-x1.jpg")
    no-repeat center center;
  background-size: contain;
  overflow: hidden;
}

@media (max-width: 1920px) {
  .bg-preview-main {
    height: 650px;
    background-size: contain;
    border-radius: 30px;
  }
}

@media (max-width: 768px) {
  .bg-preview-main {
    height: 650px;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .bg-preview-main {
    height: 550px;
    background-size: contain;
  }
}

.Join-bg-left {
  width: 50%;
  background: url("https://fiverr-res.cloudinary.com/npm-assets/layout-service/standard.0638957.png");
  background-size: cover;
}
