.bg-preview-main {
  width: 100vh;
  height: 100vh;
  background: url("./ui/previews/fiverr-res.cloudinary.com-....-xl-x1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
